<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<link rel="stylesheet" href="../theme/style.css">
</head>
<body>
<h1>Welcome to Celia's Project Page!</h1>


<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Facebook</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="https://github.com/Cece2016x">Yea</a>
    <a href="http://localhost:3000/example.html">Project2</a>
    <a href="#footer">Link 3</a>
</div>

<ol>
  <li><a href="https://github.com/Cece2016x">Github<a></li>
  <li><a href="http://localhost:3000/project2.html">Project2</a></li>
  <li><a href="http://localhost:3000/">Profolio</a></li>
</ol>

<h2>Tables</h2>
<div>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday Month</th>
      <th>Height</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Celia Bourrage</td>
      <td>May</td>
      <td>5,7</td>
      <td>St. Louis, MO</td>
    </tr>
    <tr>
      <td>X.T.L.D. 3</td>
      <td>February</td>
      <td>2,0</td>
      <td>Los Angeles, CA</td>
    </tr>
    <tr>
      <td>T. Davis</td>
      <td>April</td>
      <td>5,8</td>
      <td>St. Louis, Mo</td>
    </tr>
  </tbody>
</table>
</div>
<div>
</div>

<div>
  <h1>Links</h1>
  <div>
    <ul>
    <li><a href="https://www.w3schools.com/" target="_blank">Visit W3Schools!</a></li>
    <li><a href="https://www.w3schools.com/html/" target="_top">HTML5 tutorial!</a></li>
  </ul>


  <ol>
    <li><a href="https://fonts.google.com/" target="_blank">How I learn to Change Fonts</a></li>
    <li><a href="https://formspree.io/" target="_blank">Ways to add forms</a></li>
  </ol>


  <dl>
    <dt>I will be a professional Coder</dt>
    <dd>Coding will be my Life</dd>
  </dl>
  </div>
  <div>
    <a href="https://www.w3schools.com/html/" title="Go to W3Schools HTML section">Visit our HTML Tutorial</a>
  </div>
  <div>
    <a href="https://github.com/Cece2016x"></a>
  </div>
  <h2>Forms</h2>
  <div>
    <form>
    <fieldset>
      <label for="nameField">Name</label>
      <input type="text" placeholder="CJ Patoilo" id="nameField">
      <label for="ageRangeField">Age Range</label>
      <select id="ageRangeField">
        <option value="0-13">0-13</option>
        <option value="14-17">14-17</option>
        <option value="18-23">18-23</option>
        <option value="24+">24+</option>
      </select>
      <label for="commentField">Comment</label>
      <textarea placeholder="Hi CJ …" id="commentField"></textarea>
      <div class="float-right">
        <input type="checkbox" id="confirmField">
        <label class="label-inline" for="confirmField">Send a copy to yourself</label>
      </div>
      <input class="button-primary" type="submit" value="Send">
    </fieldset>
  </form>
  </div>

  <h3>Tables</h3>
  <div>
    <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Stephen Curry</td>
        <td>27</td>
        <td>1,91</td>
        <td>Akron, OH</td>
      </tr>
      <tr>
        <td>Klay Thompson</td>
        <td>25</td>
        <td>2,01</td>
        <td>Los Angeles, CA</td>
      </tr>
    </tbody>
  </table>
  </div>

  <h4>Buttons</h4>

    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action active">
        Cras justo odio
      </button>
      <a href="www.google.com"> <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button></a>
      <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
      <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
    </div>

    <div class="col-xs-6" ng-controller="ToggleDisplayCtrl">
   <div class="btn-group select-format-container" ng-switch on="selected">
     <button ng-switch-when="true" ng-click="toggleGrid()" type="button" class="btn btn-primary" ng-model="formatChoice" ng-disabled="">grid</button>
     <button ng-switch-when="false" ng-click="toggleList()" type="button" class="btn btn-primary" ng-model="formatChoice" ng-disabled="">list</button>
   </div>

   <div ng-include src="formatChoice.url" scope="" onload=""></div>

 </div><!-- col-xs-6  END ToggleDisplayCtrl-->

  <h5>Some Of my YouTube Videos</h5>
  <div>
    <ol>
      <li><a href="https://youtu.be/6EeAmGje1Ms">Zay Snack</a></li>
      <li><a href="https://youtu.be/lbM69gCqGOQ">Zay Playing</a></li>
      <li><a href="https://youtu.be/re41yOpWrYg">Zay1st Shots</a></li>
    </ol>

  </div>

  <div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>

<div>

<div id="video"><a href="https://www.youtube.com/watch?v=k3zmNrf0Eog&list=PL7Vr8XNhXsJCsI9f04JROgMjpTXaOR3QI&index=6">Music Video</a>
</div>
</body>
</html>
