#borderheader {
  border: solid 1px red;

}
h1 {
  color: purple;
  font-size: 4em;
  font-family: 'kavivanar', cursive, 'Nanum Pen Script';
}

h2 {
  color: brown:
  font-size: 3em:
  font-family: fantasy; cursive;
  border-color: red;
  background-color: skyblue;
}

h3 {
  color: yellow;
  font-size: 6em;
  background-color: green;
  font-variant-position: sub;
  font-variant: small-caps;
}

h4 {
  color: lavender;
  font-size: 2em;
  font-family: monospace;
background-color: yellow;
font-display: block;
}
h5 {
  color: violet;
  background-color: gold;
  font-family: sans-serif;
  font-size: 2em;
  font-style: italic;
}

h6 {
  color: powderblue;
  background-color: brown;
  font-style: italic;
  font-family: cursive;
  font-size: 3em;
}

ol {
  width: 200px;
}

img {
  width:500px;
}

body {
  background-color: pink;
}

a:link {
    color: purple;
    background-color: transparent;
    text-decoration: none;
    font-style: underline;
}

a:visited {
    color: black;
    background-color: transparent;

}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration:overline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 1px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 8px;
    font-size:12px;
    color: #777;

}

.days li .active {
    padding: 2px;
    background: red;
    color: white

}

ul {
  background-color:blue;
}

ol.container {
  background-color:gold;
}

ul.container {
  background-color: purple;
}

ol {
  background-color:purple;
}

ol li {
  border: solid 1px red;
}

ol > li:first-child {
background-color: green;
}

ol > li:nth-child(2n) {
  background-color: yellow;
}

ol > li:nth-child(3) {
  background-color: black;
}

ul li {
  border: solid 1px black;
}

ul > div {
  height: 100px;
  background-color: white;
}

ul > li:first-child {
  background-color: brown;
}

ul > li:nth-child(2) {
  background-color: purple;
}

ul > li:nth-child(3) {
  background-color: yellow;
}


#navigation > ul > li {
  display:inline;
}

#navigation {
top: 0
left: 0
height: 1.3rem;
width: 100vw;
background-color: lightblue;
}

#navigation ul.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
}

#navigation a:hover + .dropdown,
#navigation .dropdown:hover {
display: block;
background-color: purple;
}

#navigation li:first-child {
  position: relative;
}

#navigation .dropdown {
display: none;
position: absolute;
}


#content > ul {
  color: red;
}

#content > ol {
  color: cyan;
}

#content > h2 {
  color: white;
  font-style: oblique;
  font-family: cursive;
  font-size: 3em;
  font-weight: bolder;


}
#content > p {
  background-color: yellow;
  font-size: 3em;
  }

#content > h2 {
  margin: 100px;
}

.mid-width {
  width: 500px;
}

#trueblue {
  background-color: blue;
}

.container {
  max-width: 760px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:auto;
  margin-right: auto;
}

#content {
  margin: 0 auto;
}

#navigation {
  padding: 25px;
}
