#borderheader {
  border: solid 1px red;

}
h1 {
  color: purple;
  font-size: 4em;
}

h3 {
  color: yellow;
  font-size: 6em;
}

ol {
  width: 200px;
}

img {
  width:500px;
}

body {
  background-color: pink;
}

ul {
  background-color:blue;
}

ol.container {
  background-color:gold;
}

ul.container {
  background-color: purple;
}

ol {
  background-color:purple;
}

ol li {
  border: solid 1px red;
}

ol > li:first-child{
background-color: green;
}

ol > li:nth-child(2n) {
  background-color: grey;
}

ol > li:nth-child(3) {
  background-color: royalblue;
}

ul li {
  border: solid 1px black;
}

ul > li:first-child {
  background-color: brown;
}

ul > li:nth-child(2n) {
  background-color: maroon;
}

ul > li:nth-child(5) {
  background-color: yellow;
}

#content > ul {
  color: red;
}

#content > ol {
  color: cyan;
}

#content > h2 {
  color: white;
  font-style: oblique;
  font-family: cursive;
  font-size: 3em;
  font-weight: bolder;


}
#content > p {
  color: yellow;
  font-size: 2em;
}

#content > h2 {
  margin: 100px;
}

.backdrop {
  background-color: yellow;
}

.mid-width{
  width: 500px;
}

#trueblue {
  background-color: blue;
}

.container {
  max-width: 760px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:auto;
  margin-right: auto;
}

#content {
  margin: 0 auto;
}

#navigation {
  padding: 25px;
}
